# ============ #
# OS generated #
# ============ #

*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
*.ehthumbs.db
*Thumbs.db
~$*.ppt*
*.swp

.idea/*

documentation/Doxyfile

# Ignore all files in the builds directory
builds/*
# But allow zip archives to be tracked
!builds/*.zip
